<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://alex.diverse.inria.fr/Alex"
			class = "fr.inria.diverse.alex.xtext.alex.AlexPackage"
			genModel = "model/generated/Alex.genmodel" />
	</extension>
</plugin>
