<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated tel1 -->
      <package
            uri="http://www.example.org/tel1"
            class="tel1.model.tel1.Tel1Package"
            genModel="model/tel1.genmodel"/>
   </extension>

</plugin>
