<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="execboatruffle.ExecboatrufflePackage"
            genModel="src-gen/execboatruffle.genmodel"
            uri="http://execboatruffle.execboa.boa/">
      </package>
   </extension>

</plugin>
